# 忽略编译输出文件夹
/out/

# 忽略所有 .class 文件
*.class

# 忽略 IntelliJ IDEA 的工作空间文件
.idea/
*.iml

# 忽略 Maven 目标文件夹
/target/

# 忽略 Gradle 构建文件夹
/build/

# 忽略日志文件
*.log

# 忽略配置文件
config.properties

# 忽略所有 .properties 文件
*.properties

# 忽略 .idea 目录下的所有 .xml 文件
.idea/*.xml

# 忽略 /target 目录下的所有 .xml 文件
*/target/**/*.xml

# 忽略 /META-INF 目录下的所有 .xml 文件
*/META-INF/**/*.xml

# 忽略 /archetype-resources 目录下的所有 .xml 文件
*/archetype-resources/**/*.xml

